* {
  box-sizing: border-box;
  font-family: Saira Extra Condensed;
}

body {
  margin: 0;
  padding: 0;
  background-color: #18abc8;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

::placeholder {
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}

footer {
  display: flex;
  background: #e34147;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
