.search-input {
  height: 40px;
  width: 300px;
  background: #72e49f;
  border: solid 4px black;
  margin: 20px;
  font-size: 18px;
  text-align: center;
}

.search-input:hover {
  box-shadow: 0 8px 16px black;
}

@media only screen and (max-width: 600px) {
  .search-input {
    height: 40px;
    width: 250px;
  }
}
