* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #18abc8;
  font-family: Saira Extra Condensed;
}

.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-input {
  height: 40px;
  width: 300px;
  background: #72e49f;
  border: solid 4px black;
  margin: 20px;
}

.logo {
  width: 600px;
  margin: 40px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 480px;
  width: 350px;
  background: #72e49f;
  padding: 40px;
  margin: 40px;
  border: solid 4px black;
}

.search-input:hover,
.card:hover {
  box-shadow: 0 8px 16px black;
}

.image {
  height: 150px;
  width: 150px;
  margin: 15px;
  object-fit: cover;
  object-position: center;
  padding: 5px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

::placeholder {
  font-family: Saira Extra Condensed;
  font-size: 15px;
  text-align: center;
  color: black;
  font-weight: bold;
}
